#homepage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#home-calendar {
  color: #96FF96;
  text-transform: uppercase;
  overflow: hidden;
  padding-right: 25px;
  border-right: 1px solid #96FF96;
}

#home-calendar h3 {
  line-height: 2em;
  border-bottom: 2px dotted #96FF96;
}

#home-calendar h3, #home-calendar h4 {
  margin: 0;
}

#home-calendar div {
  border-bottom: 1px solid #96FF96;
  margin-bottom: 10px;
}

#home-calendar div img {
  max-width: 50%;
  max-height: 100px;
}

#carousel {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

#carousel div {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;

  transition: 3s;
}

#carousel img {
  display: none;
}