::-webkit-scrollbar {
  width: 0px;
}

.clearfix {
  clear: both;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-color: #323232;
  font-family: "futura-pt", sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

b, strong, i, em, nav.languages a.active, nav.level-2 a {
  font-weight: 700;
}

time {
  white-space: nowrap;
}

#border {
  position: fixed;
  z-index: 0;
  left: 25px;
  right: 25px;
  top: 120px;
  bottom: 25px;
  border-width: 1px;
  border-style: solid;
}

#logo {
  position: absolute;
  top: 25px;
  left:calc(50% - 135px);
  height: 60px;
}

#content {
  bottom: 51px;
  left: 51px;
  overflow-y: auto;
  position: absolute;
  right: 51px;
  top: 146px;
  z-index: 0;
}

#fw1_trace {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  width: 640px;
}

#fw1_trace table {
  display: none;
}

body #logo path                   { fill: white; } /*#96FF96*/
body.projecten #logo path         { fill: #BE8C64; }
body.talent #logo path            { fill: #FFA0A0; }
body.collectief #logo path        { fill: #64BEBE; }
body.contact #logo path           { fill: white; }

body .colored-border              { border-color: white; }
body.projecten .colored-border    { border-color: #BE8C64; }
body.talent .colored-border       { border-color: #FFA0A0; }
body.collectief .colored-border   { border-color: #64BEBE; }
body.contact .colored-border      { border-color: white; }

body .colored-bg                  { background-color: white; }
body.projecten .colored-bg        { background-color: #BE8C64; }
body.talent .colored-bg           { background-color: #FFA0A0; }
body.collectief .colored-bg       { background-color: #64BEBE; }
body.contact .colored-bg          { background-color: white; }

body .colored-text,            body a            { color: #96FF96; }
body.projecten .colored-text,  body.projecten a  { color: #BE8C64; }
body.talent .colored-text,     body.talent a     { color: #FFA0A0; }
body.collectief .colored-text, body.collectief a { color: #64BEBE; }
body.contact .colored-text,    body.contact a    { color: white; }

nav.languages {
  position: absolute;
  right: 0px;
  margin-top: -15px;
  font-size: 10px;
}

nav.languages a {
  color: white;
}

nav.level-1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

nav.level-1 a {
  color: black;
}

nav.level-1 a:nth-child(2),
nav.level-1 a:nth-child(3),
nav.level-1 a:nth-child(4) {
  background-color: white !important;
}

nav.level-1 a:nth-child(1),
nav.level-1 a:nth-child(3) {
  left: calc( 50% - 50px );
}

nav.level-1 a:nth-child(2),
nav.level-1 a:nth-child(4) {
  bottom: calc( 50% - 10px );
}

nav.level-1 a:nth-child(1) {
  margin-top: -10px;
}

nav.level-1 a:nth-child(2) {
  transform: rotate(90deg);
  right: -50px;
}

nav.level-1 a:nth-child(3) {
  bottom: -10px;
}

nav.level-1 a:nth-child(4) {
  transform: rotate(270deg);
  left: -50px;
}

nav.level-1 a,
nav.contact a {
  height: 20px;
  width: 100px;
  font-size: 13px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  z-index: 2;
}

nav.level-1 a,
nav.level-2 a,
nav.contact a,
nav.pagination a {
  text-transform: uppercase;
}

nav.level-2 {
  line-height: 30px;
  margin: 0 -10px;
}

nav.level-2 a {
  display: block;
  float: left;
  margin: 0 10px;
  text-align: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

nav.contact a {
  background-color: #323232;
  color: white;
  border: 1px solid white;
  width: 18px;
  height: 18px;
  bottom: -10px;
}

nav.contact a:nth-child(1) {
  left: calc( 50% - 110px );
}
nav.contact a:nth-child(2) {
  left: calc( 50% - 80px );
}
nav.contact a:nth-child(3) {
  left: calc( 50% - -60px );
}
nav.contact a:nth-child(4) {
  left: calc( 50% - -90px );
}

nav.pagination {
  display: flex;
  justify-content: space-between;
  line-height: 2em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

nav.pagination a {
  font-weight: 700;
}

nav.pagination a:nth-child(1),
nav.pagination a:nth-child(3) {
  font-weight: normal;
  font-size: 24px;
}